.wrapper {
    display: flex;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#mainContentArea {
    flex: 1;
    overflow-y: auto;
}