.is-invalid {
  border-color: #dc3545 !important;
  background-image: none !important;
}

.text-danger {
  color: #dc3545 !important;
}

.small {
  font-size: 0.875rem;
}

.custom-input {
    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }
    &.is-invalid:focus {
        box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
    }
}
