.badge-active {
    background-color: #d1e7dd;
    color: #0f5132;
}

.badge-pending {
    background-color: #fff3cd;
    color: #856404;
}

.badge-inactive {
    background-color: #e2e3e5;
    color: #383d41;
}

.badge-org-pending {
    background-color: #cff4fc;
    color: #055160;
}

.badge-suspended {
    background-color: #f8d7da;
    color: #842029;
}