<div class="mb-3">
    <label *ngIf="label" class="form-label fw-semibold">{{ label }}</label>
    <select class="form-select rounded-3" [value]="value" (change)="onChange($any($event.target).value)"
        (blur)="onTouched()" [disabled]="isDisabled" [class.is-invalid]="isInvalid">
        <option [ngValue]="null" *ngIf="placeholder">{{ placeholder }}</option>
        <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
    </select>
    <div *ngIf="isInvalid && errorMessage" class="text-danger small mt-1">
        {{ errorMessage }}
    </div>
</div>